@import "tailwindcss";

@theme {
  --color-main_dark: #202030;
  --color-secondary_dark: #39304a;
  --color-spec-1-dark: #51426f;
  --color-spec-2-dark: #7d7461;
  --color-label-text: #9e89c7;
  --color-label-brighter-text: #bda5ec;
  --color-input-text: #ffffff;

  --animate-zoomin: zoomin 0.1s ease-in;
  --animate-slidedown: slidedown 0.05s ease-in;

  @keyframes zoomin {
    0% {
      transform: scale(50%);
    }

    100% {
      transform: scale(100%);
    }
  }

  @keyframes slidedown {
    0% {
      transform: translateY(-50%);
      opacity: 0%;
    }

    50% {
      transform: translateY(-25%);
      opacity: 50%;
    }

    100% {
      transform: translateY(0%);
      opacity: 100%;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
